@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Karla:wght@400;700&family=Montserrat:wght@400;700&display=swap');

*,
*::after,
*::before {
  margin: 0;
  margin-left: 0;
  box-sizing: border-box;
}
h1 {
  font-size: 6.5vw;
}
h3 {
  font-size: 1.3rem;
  font-family: 'Merriweather', serif;
  font-weight: 700;
}
h4 {
  font-size: 1.1rem;
  font-family: 'Merriweather', serif;
  font-weight: 700;
}
h6 {
  font-size: 0.9rem;
  font-weight: 700;
  color: #6caa7f;
}
p {
  font-size: 1rem;
  font-family: 'Karle', sans-serif;
  line-height: 1.5rem;
}
button {
  background: #6caa7f;
  border-style: none;
  padding: 0.7rem 1.3rem;
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 1px;
  color: #fff;
}
hr {
  background: #27ee60;
  color: #27ee60;
  height: 0.07rem;
  height: 3px;
}
body {
  font-family: 'Montserrat', sans-serif;
}
footer {
  background: #6caa7f;
}
.page-link {
  color: #6caa7f;
}
.active>.page-link, .page-item:hover{
  color: white;
  background-color: #6caa7f;
  border-color: #6caa7f;
}
.page-link:focus{
  color: white;
  background-color: #6caa7f;
  border-color: #6caa7f;
}